<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
      <h4>{{ idp }}</h4>
      <h4>{{ idliga }}</h4>
      <form  action="{{ resultado[0][3] }}" method="POST">
          <fieldset id="campos">
              <h4>Datos Nuevo Partido</h4>
          </fieldset>
          <fieldset id="botones">
              <label ><strong> id liga</strong></label>
              <input type="text" value="{{ resultado[0][4] }}" id='liga' class='form-control'  name='id_liga' required='required'>
              <label ><strong> id partido </strong></label>
              <input type="text" id='nro_partido' value="{{ resultado[0][2] }}" class='form-control'  name='id_partido' required='required'>
              {% for fila in nombre1 %}
              <label >Equipo local:<strong> {{ fila.nombre }}</strong></label>
              {% endfor %}
              <input type="text" id='gol_eq1' class='form-control' placeholder='Goles equipo Local' name='gol_eq1' required='required'>
              {% for fila in nombre2 %}
              <label >Equipo visitante: <strong>{{ fila.nombre }}</strong></label>
              {% endfor %}
              <input type="text" id='gol_eq2' class='form-control' placeholder='Goles equipo Visitante' name='gol_eq2' required='required'>
            </fieldset>
            <div class="container">
             <input type='submit' name='AgregarProveedor' id='e' class='btn btn-success' value='Agregar'>
             <a href='.$link.' class="btn btn-warning" role="button">Ver Registros</a>'
            </div>
      </form>
      <br> </br>
             <h4>Cuotas equipos</h4>
        <table>
        <thead>
          <tr>
            <th>DESCRIPCION</th>
            <th>{{nombre1[0].nombre}}</th>
            <th>{{nombre2[0].nombre}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> </td>
            <td>LOCAL </td>
            <td>VISITANTE </td>
          </tr>
          <tr>
            <td>VICTORIAS </td>
            <td>{{clocal[0]}}</td>
            <td>{{cvisit[0]}}</td>
          </tr>
          <tr>
            <td>DERROTAS </td>
            <td>{{clocal[1]}}</td>
            <td>{{cvisit[1]}}</td>
           </tr>
          <tr>
              <td>EMPATES </td>
              <td>{{clocal[2]}}</td>
              <td>{{cvisit[2]}}</td>
          </tr>
        </tbody>
    </table>
 <br>
      <br>
      <h4>Informacion de equipos</h4>
      <div id="container" style="width:100%; height:400px;"></div>
      <script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: '{{nombre1[0].nombre}} vs {{nombre2[0].nombre}}'
      },
      xAxis: {
          categories: ['Local: {{nombre1[0].nombre}} ', 'Visitante: {{nombre2[0].nombre}}','His_Local: {{nombre1[0].nombre}} ', 'His_Visitante: {{nombre1[0].nombre}}','His_Local: {{nombre2[0].nombre}} ', 'His_Visitante: {{nombre2[0].nombre}}']
      },
      credits: {
          enabled: false
      },
      series: [{
          name: 'victoria',
          data: {{victoria}}
      }, {
          name: 'empates',
          data: {{empate}}
      }, {
          name: 'Derrotas',
          data: {{derrota}}
      }]
  }); 
      </script>


 <br>
         <h4>Estadisticas equipos</h4>
        <table>
        <thead>
          <tr>
            <th>DESCRIPCION</th>
            <th colspan = "3">{{nombre1[0].nombre}}</th>
            <th colspan = "3">{{nombre2[0].nombre}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> </td>
            <td>TOTAL </td>
            <td>LOCAL </td>
            <td>VISITANTE </td>
            <td>TOTAL </td>
            <td>LOCAL </td>
            <td>VISITANTE </td>
          </tr>
          <tr>
            <td>VICTORIAS </td>
            <td>{{victoria[0]}}</td>
            <td>{{victoria[2]}}</td>
            <td>{{victoria[3]}}</td>
            <td>{{victoria[1]}}</td>
            <td>{{victoria[4]}}</td>
            <td>{{victoria[5]}}</td>
          </tr>
          <tr>
            <td>DERROTAS </td>
            <td>{{derrota[0]}}</td>
            <td>{{derrota[2]}}</td>
            <td>{{derrota[3]}}</td>
            <td>{{derrota[1]}}</td>
            <td>{{derrota[4]}}</td>
            <td>{{derrota[5]}}</td>
           </tr>
          <tr>
              <td>EMPATES </td>
              <td>{{empate[0]}}</td>
              <td>{{empate[2]}}</td>
              <td>{{empate[3]}}</td>
              <td>{{empate[1]}}</td>
              <td>{{empate[4]}}</td>
              <td>{{empate[5]}}</td>
          </tr>
        </tbody>
    </table>

 <br>
  <br>
          
      <h4>Probabilidades equipos</h4>
        <table>
        <thead>
          <tr>
            <th>DESCRIPCION</th>
            <th colspan = "3">{{nombre1[0].nombre}}</th>
            <th colspan = "3">{{nombre2[0].nombre}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> </td>
            <td>TOTAL </td>
            <td>LOCAL </td>
            <td>VISITANTE </td>
            <td>TOTAL </td>
            <td>LOCAL </td>
            <td>VISITANTE </td>
          </tr>
          <tr>
            <td>VICTORIAS </td>
            <td>{{pvictoria[0]}}</td>
            <td>{{pvictoria[1]}}</td>
            <td>{{pvictoria[2]}}</td>
            <td>{{pvictoria[3]}}</td>
            <td>{{pvictoria[4]}}</td>
            <td>{{pvictoria[5]}}</td>
          </tr>
          <tr>
            <td>DERROTAS </td>
            <td>{{pderrota[0]}}</td>
            <td>{{pderrota[1]}}</td>
            <td>{{pderrota[2]}}</td>
            <td>{{pderrota[3]}}</td>
            <td>{{pderrota[4]}}</td>
            <td>{{pderrota[5]}}</td>
           </tr>
          <tr>
              <td>EMPATES </td>
              <td>{{pempate[0]}}</td>
              <td>{{pempate[1]}}</td>
              <td>{{pempate[2]}}</td>
              <td>{{pempate[3]}}</td>
              <td>{{pempate[4]}}</td>
              <td>{{pempate[5]}}</td>
          </tr>
        </tbody>
    </table>

 <br>
  <br>



      <h4>Clasificacion equipos</h4>
        <table>
        <thead>
          <tr>
            <th>POS</th>
            <th>CLUD</th>
            <th>PJ</th>
              <th>GF</th>
            <th>GC</th>
              <th>DG</th>
              <th>PG</th>
              <th>PP</th>
              <th>PE</th>
              <th>PTOS</th>
          </tr>
        </thead>
        <tbody>

         {% for liga in clasificacion %}
          <tr>
            <td>{{ clasificacion[liga][0] }}</td>
            <td>{{ clasificacion[liga][1].nombre}}</td>
            <td>{{ clasificacion[liga][2] }}</td>
            <td>{{ clasificacion[liga][3] }}</td>
            <td>{{ clasificacion[liga][4] }}</td>
            <td>{{ clasificacion[liga][5] }}</td>
              <td>{{ clasificacion[liga][6] }}</td>
              <td>{{ clasificacion[liga][7] }}</td>
              <td>{{ clasificacion[liga][8] }}</td>
              <td>{{ clasificacion[liga][9] }}</td>
          </tr>
         {% endfor %}
        </tbody>
    </table>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>    

