<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ligas de futbol</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h4>Ligas de futbol</h4>
        <table>
        <thead>
          <tr>
            <th>Id liga</th>
            <th>Nombre</th>
            <th>Pais</th>
              <th>Continente</th>
            <th>Mostrar</th>
          </tr>
        </thead>
        <tbody>
         {% for liga in result %}
          <tr>
            <td>{{ result[liga][0] }}</td>
            <td>{{ result[liga][1] }}</td>
            <td>{{ result[liga][2] }}</td>
            <td>{{ result[liga][3] }}</td>
            <td><a href="{{ result[liga][4] }}" class='btn btn-success' >Mostar</a></td>
          </tr>
         {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
      <form  action="http://localhost:8000/gestion_partido/" method="POST">
          <fieldset id="campos">
              <h4>Gestion de partidos nueva temporada liga</h4>
          </fieldset>
          <fieldset id="botones">
              <h5>Numero Ligas</h5>
              <select name="id_liga" id="eq2">
                    {% for fila in ligas_reg %}
                    <option value={{ fila }}>{{ fila }}</option>
                    {% endfor %}
              </select>
              <h5>Numero de jornada</h5>
              <select name="jornadas" id="eq">
                    {% for fila in jornadas %}
                    <option value={{ fila }}>{{ fila }}</option>
                    {% endfor %}
              </select>
            </fieldset>
            <div class="container">
             <input type='submit' name='AgregarProveedor' id='e' class='btn btn-success' value='Agregar'>
             <a href='.$link.' class="btn btn-warning" role="button">Ver Registros</a>'
            </div>
      </form>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>