<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <a href="http://localhost:8000/" class='btn btn-success' > Volver a seleccion de liga</a>
      <br>
       <h4>Lista de partidos jornada {{fecha}}</h4>
        <table>
        <thead>
          <tr>
            <th>Equipo Local</th>
            <th>Marcador</th>
            <th>Equipo Visitante</th>
            <th>Marcador</th>
            <th>Link Actualizacion</th>
          </tr>
        </thead>
        <tbody>

         {% for rows in result %}
          <tr>
            <td>{{ result2[rows][0].nombre }}</td>
            <td>{{ result[rows][1]}}</td>
            <td>{{ result2[rows][1].nombre }}</td>
            <td>{{ result[rows][2]}}</td>
            <td><a href="http://localhost:8000/encuentros/{{result[rows][0]}}/{{idlig}}/{{fecha}}" class='btn btn-success' >Editar</a></td>
          </tr>
         {% endfor %}
        </tbody>
    </table>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>